.bg-color-gray-light {
    background-color: #fdfdfd;
}

.brand-logo {
    margin-left:20px;
    font-family: 'Amatic SC', cursive;
}

.brand-height {
    font-size: 70px;
}

#contact-info {
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.945);
}

.grayed-out {
    -webkit-filter: grayscale(50%);
       -moz-filter: grayscale(50%);
         -o-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
            filter: grayscale(50%); 
}

.grayed-out:hover {
	-webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
}

#main-title {
	/*background-color: blue;*/
	color: white;

}

.nav-color-red {
    background-color:#c02429;
}

#next-part {
	background-color: red;
	color: white;
}

nav, nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons, nav .button-collapse i, .nav-wrapper, .brand-logo {
    height: 120px;
    line-height: 120px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 120px;
        line-height: 120px;
    }
}

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}

