#main-title {
	/*background-color: blue;*/
	color: white;

}

#next-part {
	background-color: red;
	color: white;
}

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}

.grayed-out {
    -webkit-filter: grayscale(50%);
       -moz-filter: grayscale(50%);
         -o-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
            filter: grayscale(50%); 
}

.grayed-out:hover {
	-webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
}